<% if user_signed_in? %>
  <header id="header" class="hidden-xs headtopfixed">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <%= image_tag "webldap-logo.small.png", size: "30x30", alt: "WebLDAP logo", class: "d-inline-block align-top" %>
        AuthLDAP 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% menu_options = [ {text: 'Oauth Provider', title: 'Oauth2 Apps', url: oauth_applications_path} ] %>
        <ul class="navbar-nav mr-auto">
          <% menu_options.each do |menu_item| %>
            <li class="nav-item">
              <%= link_to menu_item[:text], menu_item[:url], title: menu_item[:title], class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <div class="navbar-nav my-lg-0">
          <%= link_to current_user.name, change_password_path, title: t('actions.password-title'), class: "nav-link" %>
          <%= link_to icon('fa', 'sign-out-alt'), destroy_user_session_path, title: t('actions.logout'), method: :delete, class: "nav-link" %>
        </li>
      </div>
    </nav>
  </header>
<% end %>
